.reg-Container {
  color:black;
  width: 100%;
  height: 100vh;
  background: url("https://images.pexels.com/photos/3745234/pexels-photo-3745234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reg-Wrapper {
  width: 40%;
  padding: 20px;
  background-color: white;
}
.reg-Title {
  /* display: block; */
  font: bold;
  font-size: 30px;
  font-weight: 300;
}
.reg-Form {
  display: flex;
  flex-wrap: wrap;
}
.reg-Input {
  flex: 1;
  min-width: 40%;
  margin: 20px 10px 0px 0px;
  padding: 10px;
  
}
.reg-Agreement {
  font-size: 12px;
  margin: 20px 0px;
}
.reg-Button {
  width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
}
